
.error h1 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    background: linear-gradient(#25d8b1, #e2bbf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #d9bbf3;
    text-shadow: 0 0 black, 0 2px black, 2px 0 black, 0 0 black;
}

.blink {
    animation: blinker 2s steps(4, end) infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

/* Guide */
#controls {
    color: #868686;
    font-size: 13px;
    line-height: 13px;
    margin: 10px;
    text-align: center;
}

#controls > span {
    margin-left: 20px;
}

#controls > span > span {
    border: 2px solid #868686;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
    display: inline-block;
}

#controls > span:last-child > span {
    transform: rotate(90deg);
}

/* Space Invaders */
#space-invaders {
    width: 80vw;
    height: 60vh;
    max-width: 850px;
    max-height: 620px;
    margin: 0;
    display: block;
    background: white;
}

.invaders-message p {
    font-size: 0.9rem;
}

/* 404 Page */
@media screen and (max-width: 768px) {
    #button-out-run, #button-space-invaders, #button-update-windows, #button-click-me {
        display: none;
    }
}

.lError {
    height: 100vh;
    text-align: center;
}

.lError h1 {
    font-size: 4rem;
}

.lError img {
    width: 80vw;
    height: 35vw;
    max-width: 800px;
    max-height: 350px;
    object-fit: cover;
    object-position: 0 35%;
}