.container {
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar h3 {
    font-size: 20px;
    font-weight: bold;
}

.api-key-container {
    height: 50px;
    display: flex;
}

.api-key-container label {
    margin-top: 7px;
    margin-right: 5px;
}

.api-key-container input {
    background-color: #2f2f2f;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
}

#chat-list {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: calc(100vh - 200px);
}

#chat-list div {
    padding: 4px 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-list div.active {
    background-color: #212121;
}

.delete-chat-btn,
#new-chat-btn {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-chat-btn:hover,
#new-chat-btn:hover {
    background-color: #383838;
    cursor: pointer;
}

#chat-view {
    flex: 1;
    background-color: #181818;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#chat-view .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#chat-view h3 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

#message-list {
    flex: 1;
    overflow: auto;
    margin-bottom: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message p {
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.assistant p {
    background-color: #2f2f2f;
    align-self: flex-start;
}

.message.user p {
    background-color: #49573e;
    align-self: flex-end;
    margin-right: 10px;
}

.message.system p {
    color: #7a7a7a;
    align-self: center;
}

.input {
    display: flex;
    align-items: center;
}

.input input {
    background-color: #2f2f2f;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.input i {
    background-color: #3F7FBF;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.input i:hover {
    background-color: rgba(52, 95, 140, 0.74);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: calc(150vh - 80px);
    }

    .sidebar {
        width: 100%;
        height: 50vh;
    }

    #chat-list {
        height: calc(50vh - 110px);
    }

    #chat-view {
        height: calc(100vh - 80px);
    }
}

@media screen and (max-width: 576px) {
    .message p {
        max-width: 100%;
    }
}
