/* Space Invaders */
#space-invaders {
    width: 80vw;
    height: 60vh;
    max-width: 850px;
    max-height: 620px;
    margin: 0;
    display: block;
}

.invaders-message p {
    font-size: 0.9rem;
}
