* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

body {
    background-color: #131313;
}

@keyframes smoothscroll1 {
    from, to {
        scroll-behavior: smooth;
    }
}

@keyframes smoothscroll2 {
    from, to {
        scroll-behavior: smooth;
    }
}

html {
    animation: smoothscroll1 1s;
}

html:focus-within {
    animation-name: smoothscroll2;
    scroll-behavior: smooth;
}

/********************************************************
  Basic Elements
********************************************************/

.colored-h1, .content h1, .banner h1 {
    font-size: 3rem;
    margin-top: 30px;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.colored-h2, .content h2, .banner h2 {
    font-size: 2rem;
    margin-top: 30px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #8d34e0 0%, #61c4ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.colored-h3, .content h3, .banner h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #005215 0%, #a7ff63 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.custom-p, .content p, .banner p, .content li {
    margin-top: 1rem;
    font-size: 1.3rem;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .colored-h1, .content h1, .banner h1 {
        font-size: 2rem;
    }

    .colored-h2, .content h2, .banner h2 {
        font-size: 1.5rem;
    }

    .colored-h3, .content h3, .banner h3 {
        font-size: 1.3rem;
    }

    .custom-p, .content p, .banner p, .content li {
        font-size: 1rem;
    }
}

.content {
    max-width: 1000px;
    padding: 0 2rem;
    margin: 0 auto;
}

.center {
    text-align: center;
    align-content: center;
    align-items: center;
}

.content li {
    margin-top: 0.5rem;
}

p.about-grade,
p.about-date {
    font-size: 0.8rem;
}

p.about-skills,
p.about-location {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

p.quote {
    margin-bottom: 30px;
}

/********************************************************
  Button
********************************************************/

.lButton {
    font-size: 1rem;
    background: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.lButton a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    background: transparent;
    color: white;
}

.lButton:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2d81b6;
    transition: all 0.35s;
    border-radius: 4px;
}

.lButton:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    color: white;
    cursor: pointer;
}

.lButton:hover:after {
    color: white;
    width: 100%;
}

/********************************************************
  Banner
********************************************************/

.banner {
    height: 60vh;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
}

.banner p {
    padding: 1em;
}

.about-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.9) 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.9) 100%),
    url('https://www.leonard-lemke.com/images/logo/banner_named.png');
}

.banner h1, .banner h2, .banner h3, .banner p {
    margin: 10px;
}

/********************************************************
  Swiper
********************************************************/

swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 30px;
}

swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.me-swiper {
    max-width: 400px;
    display: inline-flex;
}

/********************************************************
  Error 404 Page
********************************************************/

.error {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.error h1 {
    font-size: 4rem;
}

.error img {
    width: 80vw;
    height: 35vw;
    max-width: 800px;
    max-height: 350px;
    object-fit: cover;
    object-position: 0 35%;
}

@media screen and (max-width: 768px) {
    #button-out-run, #button-click-me {
        display: none;
    }
}

/********************************************************
  Other
********************************************************/

#home-img {
    height: 80%;
    width: 80%;
    max-height: 450px;
    max-width: 400px;
    border-radius: 20px;
}
