Options +FollowSymLinks
RewriteEngine On

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Hide files of type  from listing
IndexIgnore *.md

# Deny access to filenames
<FilesMatch "(LICENSE|footer|navbar.html)">
Order allow,deny
Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.html [NC,L]

ErrorDocument 404 /404.html
